body{
    display: grid;
    place-items: center;
    margin:0;
    padding:0;
    font-family: 'Roboto';
    background: linear-gradient(rgba(255, 255, 220, 0.5), rgb(255,255,220,.5)) , url(design-space-paper-textured-background.jpg);
    position: contain;
    text-align: center;
}

main{
    padding: 16px;
}

.song-card img{
    height: 300px;
    width: 300px;
}

.song-card img:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 10px 5px 5px gray;
}

.song-card img:active {
    transform: scale(1.2);
}

h1{
    color: black;
}

h2{
    justify-content: center;
}

.navigation-buttons img{
    height: 30px;
    width: 30px;
}
.navigation-buttons:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 10px 5px 5px gray;
}

.navigation-buttons{
    background:none;
    border:none;
}
.previous-button {
    display: flex;
    position:absolute;
    left: 700px;
    top:250px;
    background:none;
    border:none;
}
.next-button {
    display: flex;
    position:absolute;
    right: 700px;
    top:250px;
}

#link{
    text-decoration: none;
    color:black
}

img{
    height: 300px;
    width: 300px;
}
